df-earthquake-project/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-earthquake-project"
		},
		"ls_databricks_usgs_data_transformation_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_databricks_usgs_data_transformation'"
		},
		"ls_dl_src_copy_to_sql_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_dl_src_copy_to_sql'"
		},
		"ls_hist_data_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_hist_data'"
		},
		"ls_sink_dl_http_usgs_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_sink_dl_http_usgs'"
		},
		"ls_sink_hist_data_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_sink_hist_data'"
		},
		"ls_sink_processed_usgs_sql_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sink_processed_usgs_sql'"
		},
		"ls_source_hist_data_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_source_hist_data'"
		},
		"ls_databricks_usgs_data_transformation_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0919-033905-zhvlnaw7"
		},
		"ls_dl_src_copy_to_sql_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlearthquakeproject.dfs.core.windows.net/"
		},
		"ls_hist_data_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlearthquakeproject.dfs.core.windows.net/"
		},
		"ls_raw_usgs_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/"
		},
		"ls_sink_dl_http_usgs_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlearthquakeproject.dfs.core.windows.net/"
		},
		"ls_sink_hist_data_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dlearthquakeproject.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_usgs_data_transformation')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-737890213427168.8.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_databricks_usgs_data_transformation_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_databricks_usgs_data_transformation_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_dl_src_copy_to_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_dl_src_copy_to_sql_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_dl_src_copy_to_sql_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_hist_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_hist_data_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_hist_data_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_raw_usgs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_raw_usgs_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sink_dl_http_usgs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_sink_dl_http_usgs_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_sink_dl_http_usgs_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sink_hist_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_sink_hist_data_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_sink_hist_data_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sink_processed_usgs_sql')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sink_processed_usgs_sql_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_source_hist_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_source_hist_data_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_source_historical_data')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"containerUri": "https://saearthquakeproject.blob.core.windows.net/raw",
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_dl_http_usgs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sink_dl_http_usgs",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "usgs_data",
						"fileSystem": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sink_dl_http_usgs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_hist_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sink_hist_data",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "historical_data",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sink_hist_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_processed_usgs_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sink_processed_usgs_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "date",
						"type": "date"
					},
					{
						"name": "time_of_day",
						"type": "time",
						"scale": 7
					},
					{
						"name": "place_name",
						"type": "nvarchar"
					},
					{
						"name": "longitude",
						"type": "decimal",
						"precision": 9,
						"scale": 6
					},
					{
						"name": "latitude",
						"type": "decimal",
						"precision": 9,
						"scale": 6
					},
					{
						"name": "depth",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "magnitude",
						"type": "decimal",
						"precision": 4,
						"scale": 2
					},
					{
						"name": "title",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "earthquake_db",
					"table": "usgs_data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sink_processed_usgs_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_hist_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_source_hist_data",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Significant Earthquake Dataset 1900-2023.csv",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Time",
						"type": "String"
					},
					{
						"name": "Place",
						"type": "String"
					},
					{
						"name": "Latitude",
						"type": "String"
					},
					{
						"name": "Longitude",
						"type": "String"
					},
					{
						"name": "Depth",
						"type": "String"
					},
					{
						"name": "Mag",
						"type": "String"
					},
					{
						"name": "MagType",
						"type": "String"
					},
					{
						"name": "nst",
						"type": "String"
					},
					{
						"name": "gap",
						"type": "String"
					},
					{
						"name": "dmin",
						"type": "String"
					},
					{
						"name": "rms",
						"type": "String"
					},
					{
						"name": "net",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "Updated",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "horizontalError",
						"type": "String"
					},
					{
						"name": "depthError",
						"type": "String"
					},
					{
						"name": "magError",
						"type": "String"
					},
					{
						"name": "magNst",
						"type": "String"
					},
					{
						"name": "status",
						"type": "String"
					},
					{
						"name": "locationSource",
						"type": "String"
					},
					{
						"name": "magSource",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_source_hist_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_http_usgs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_raw_usgs",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "4.5_week.geojson"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_raw_usgs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_historical_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sink_processed_usgs_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "Latitude",
						"type": "decimal",
						"precision": 9,
						"scale": 6
					},
					{
						"name": "Longitude",
						"type": "decimal",
						"precision": 9,
						"scale": 6
					},
					{
						"name": "Depth",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "Magnitude",
						"type": "decimal",
						"precision": 4,
						"scale": 2
					},
					{
						"name": "date",
						"type": "nvarchar"
					},
					{
						"name": "time_of_day",
						"type": "time",
						"scale": 7
					},
					{
						"name": "place_name",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "earthquake_db",
					"table": "historical_data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sink_processed_usgs_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_src_historical_processed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_hist_data",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "historical_data",
						"fileSystem": "processed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Title",
						"type": "UTF8"
					},
					{
						"name": "Latitude",
						"type": "UTF8"
					},
					{
						"name": "Longitude",
						"type": "UTF8"
					},
					{
						"name": "Depth",
						"type": "UTF8"
					},
					{
						"name": "Magnitude",
						"type": "UTF8"
					},
					{
						"name": "date",
						"type": "UTF8"
					},
					{
						"name": "time_on_day",
						"type": "UTF8"
					},
					{
						"name": "place_name",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_hist_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_src_processed_usgs_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_src_copy_to_sql",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.parquet",
						"folderPath": "usgs_data",
						"fileSystem": "processed"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "date",
						"type": "UTF8"
					},
					{
						"name": "time_of_day",
						"type": "UTF8"
					},
					{
						"name": "place_name",
						"type": "UTF8"
					},
					{
						"name": "longitude",
						"type": "DOUBLE"
					},
					{
						"name": "latitude",
						"type": "DOUBLE"
					},
					{
						"name": "depth",
						"type": "DOUBLE"
					},
					{
						"name": "magnitude",
						"type": "UTF8"
					},
					{
						"name": "title",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_src_copy_to_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_historical_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy data historical to dl",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_source_hist_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_hist_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "historical_data nb",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "copy data historical to dl",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/greedygenie01@gmail.com/earthquake-etl-pipeline/databricks notebooks/2. Transformations/2. Transforming Historical Data"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_usgs_data_transformation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy processed hist_data to sql",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "historical_data nb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "historical_data",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_src_historical_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_historical_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_hist_data')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_hist_data')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_usgs_data_transformation')]",
				"[concat(variables('factoryId'), '/datasets/ds_src_historical_processed')]",
				"[concat(variables('factoryId'), '/datasets/ds_sql_historical_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_usgs_to_dl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy data from usgs to data lake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_source_http_usgs",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_dl_http_usgs",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "execute data transformation usgs data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "copy data from usgs to data lake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Repos/greedygenie01@gmail.com/earthquake-etl-pipeline/databricks notebooks/2. Transformations/1. Transforming USGS data"
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_usgs_data_transformation",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy usgs processed to sql database",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "execute data transformation usgs data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "usgs_data",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table earthquake_db.usgs_data",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_src_processed_usgs_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sink_processed_usgs_sql",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_http_usgs')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_dl_http_usgs')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_usgs_data_transformation')]",
				"[concat(variables('factoryId'), '/datasets/ds_src_processed_usgs_data')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_processed_usgs_sql')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_pl_ingest_usgs_http')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_ingest_usgs_to_dl",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-09-19T12:00:00",
						"timeZone": "Pakistan Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_usgs_to_dl')]"
			]
		}
	]
}